*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body,
  html {
    background: linear-gradient(cyan, darkcyan);
  }
  
  div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
  }
  
  div.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px #fff;
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
  }
  
  div.box img {
    max-width: 400px;
    border-radius: 5px;
    border: 5px solid #fff;
  }
  
  div.box p {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
  }

  #refresh{

   color: white;
   background-color: darkcyan;
   position: absolute;
   margin: -80px 550px;
   width: 300px;
   box-sizing: border-box;
  }